@page
@using DotnetMonitorConfiguration.Models
@using System.ComponentModel.DataAnnotations
@using DotnetMonitorConfiguration.Models.Collection_Rules.Action_Types
@using Microsoft.Extensions.Logging
@model ActionConfigurationModel

<div class="row-narrow-dark">
    <div class="label">@ActionConfigurationModel.actionType.Name</div>
    @if (!string.IsNullOrEmpty(@ActionConfigurationModel.GetDocumentationLink()))
    {
        <a href=@ActionConfigurationModel.GetDocumentationLink() target="_blank" class="sub-label">Learn More</a>
    }
</div>

<br />

<form method="post">
    <div class="row-narrow">
      <fieldset>
        @{
            int index = 0;
        }

        @foreach(var propertyInfo in ActionConfigurationModel.GetConfigurationSettings())
        {
            Type currType = General.GetType(@propertyInfo.PropertyType);

            string nameValue = General.GenerateNameValue(propertyInfo);

            string labelClassName = (Attribute.IsDefined(propertyInfo, typeof(RequiredAttribute)) && ActionConfigurationModel.failedState) ? "label-error" : "label";

            <div class=@labelClassName>@nameValue</div>

            <div class="sub-label">@General.GetFormatDescription(currType)</div>

            string val = ActionConfigurationModel.GetCurrValue(propertyInfo);

            if (currType.IsEnum || (currType == typeof(bool)))
            {
                List<string> names = General.GetEnumNames(currType, Attribute.IsDefined(propertyInfo, typeof(RequiredAttribute)));

                <select asp-for=properties[index.ToString()]>
                @foreach (var enumName in names)
                {
                    bool isSelected = val.Equals(enumName, StringComparison.CurrentCultureIgnoreCase);
                    <option value=@enumName selected=@isSelected>@enumName</option>
                }
                </select>
            }
            else if (currType == typeof(Dictionary<string, LogLevel?>))
            {
                <button class="submit-button" type="submit" asp-page-handler="AddKVP">New Argument</button>

                int kvpIndex = 0;
                foreach (var pair in ActionConfigurationModel.GenerateKVPairs())
                {
                    <button class="submit-button" type="submit" asp-route-data=@kvpIndex.ToString() asp-page-handler="AccessKVP">@pair.Item1 | @pair.Item2.Value</button>
                    ++kvpIndex;
                }

                --index; // We don't want to increment for a non-field
            }
            else
            {
                <input asp-for=properties[index.ToString()] placeholder=@propertyInfo.Name value=@val/>
            }
            <br />
            ++index;
        }
        
      </fieldset>
    </div>
    <button class="submit-button" type="submit" asp-page-handler="Submit">Submit</button>
</form>